{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <link href="/assets/css/sign-in.css" rel="stylesheet">
 {% endblock %}

{% block body %}
    <div class="text-center">

        <form class="form-signin" action="{{ path('app_login') }}" method="post">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" name="_username" id="username" class="form-control" placeholder="Email address" value="{{ last_username }}" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {% if error %}
                <div class="mb-2 alert-danger">{{ error.messageKey }}</div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}
